h1 {text-align: center;
}
body {background-color: black;
}
.parte01 {background-color: rgb(201, 0, 0); text-align: center;
}
.parte02 {background-color: rgb(233, 219, 23); text-align: center;
}
.parte03 {background-color: blue; text-align: center;
}
